// Use this file as a starting point for your project's .eslintrc.
// Copy this file, and add rule overrides as needed.
{
  "extends": "airbnb",
  "globals": {
    "document": true,
    "foo": true,
    "window": true
  },
  "rules": {
    "indent": ["error", 4]
  }
}
