@light-gray-border: #e3e3e3;
@independant-pane-fill: #fafaff;

body {
  font-family: "Helvetica", "Arial", "sans-serif";
}

.login {
  margin-right: auto;
  margin-left: auto;
  margin-top: 4em;
  width: 20%;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

#invalid-login-notification {
  display: none;
  color: red;
  font-size: 14px;
  margin-top: 6px;
}

.independant-pane {
  border: 1px solid @light-gray-border;
  background-color: @independant-pane-fill;
  border-radius: 8px;
}

#login-button {
  margin-top: 1em;
  width: 50%;
}

.positive-button {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

button {    
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}